<div class="jumbotron center">
	
<h1>About Watermelon Bust LXA - Epsilon Pi UMD</h1>
<p>We, the brothers of Lambda Chi Alpha, take a day each spring to put together a day of service to benefit our fraternity's national philanthropy: Feeding America.</p>

<p>The Brothers of Lambda Chi Alpha invite you to participate in our national philanthropy: Watermelon Bust. Throughout the day, teams will compete in a series of contests and events including a watermelon eating contest, obstacle course, watermelon wheelbarrow race, and more. Points will be awarded to the winners of each event and awards will be given to the top three placing teams. All proceeds benefit the North American Food Drive.</p>

<p>The Cosponsorship fee for each team is $100 and participating fee is $60.</p>


<img src="https://scontent-b-iad.xx.fbcdn.net/hphotos-ash3/t1/225302_10152544054390538_468866035_n.jpg" alt="Watermelon Bust!" width="960" height="736">


<p>IMPORTANT DATES AND TIMES</p>

<p>-Registration forms and fees due March 31st 
-Coaches visit sororities (During an arranged chapter meeting before April 20th)
-Canned food drive begins (April 20th)
-Watermelon Bust (Saturday, April 27th on Fraternity Row, time 1:30)</p>


<p>Please contact Max Wittle (Insert email here) for any additional information.</p>

<p>List of events are as follows:</p>

<p>Watermelon Eating Contest: Each team must have four girls, each with a piece of watermelon at a table. The watermelon must be completely eaten before the next participant begins eating. If the entire watermelon piece is not eaten, at the discretion of the judge, the team will be disqualified. The event will be based on the team with the best overall time, not best in their heat.</p>


<p>Obstacle Course:
Each team will have four girls. Each girl will carry a watermelon through a section of the obstacle course, then pass it on to their teammate after they reach the end of their section.</p> 

<p>Watermelon Wheelbarrow Race:
Each team will have four girls. They will pair off and start at opposite sides of the field. One girl will act as the wheelbarrow while the other holds them by the ankles. The girl who acts as the wheelbarrow will push the watermelon with her head until they reach the other side, then the other pair will start and go back to the other side.</p>

<p>Watermelon Bucket Toss:
Each team will have 2 girls. They will crush a watermelon with whatever method they choose, then throw the pieces into a bucket placed 10-15 feet away from them. The first team to fill the bucket to a certain level will win.</p>

<p>Watermelon Decorating:
Each team will receive a watermelon the week of the competition to decorate and keep on their doorstep. Official judges will be around before the competition to make sure who wins.</p>

<p>*Events are subject to change and not all events are listed*</p>


<p>See you there!</p>