<h1>About Watermelon Bust LXA - Epsilon Pi UMD</h1>
<p>We, the brothers of Lambda Chi Alpha, take a day each spring to service our fraternity's national philanthropy: The North American Food Drive.</p>