<div class="jumbotron center">
<h1>Watermelon Bust!</h1>
<h4>LXA proudly supports <%= link_to "Feeding America", "http://feedingamerica.org/" %> </h4>
<p>Click <%= link_to "here", "http://www.wbustlxaumd.myevent.com/3/donate.htm" %> to donate!</p>
<img src="https://scontent-a-iad.xx.fbcdn.net/hphotos-prn1/t1/941223_511320125593387_632843689_n.jpg" alt="Watermelon Bust!" width="device-width" height="device-height">
