<div class="jumbotron center">
<img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xpa1/t1.0-9/10487301_10154286924195538_4637441565132347992_n.jpg" alt="Hello There" width="device-width" height="device-height">
<h1>Hello There!</h1>
<h4>Welcome to Zach's Online Portfolio/Resume</h4>
<p>Click <%= link_to "here", "https://www.linkedin.com/pub/zach-blass/52/438/796" %> to visit Zach's LinkedIn page!</p>

