<div class="jumbotron center">
<<<<<<< HEAD
<h1>Watermelon Bust!</h1>
<h4>LXA proudly supports <%= link_to "Feeding America", "http://feedingamerica.org/" %> </h4>
<p>Click <%= link_to "here", "http://fundraising.myevent.com/fundraising-events.htm" %> to donate!</p>
<img src="https://scontent-a-iad.xx.fbcdn.net/hphotos-prn1/t1/941223_511320125593387_632843689_n.jpg" alt="Watermelon Bust!" width="640" height="400">
=======
<h1>Karen Blass Skin Therapy</h1>

<img src="https://scontent-a-iad.xx.fbcdn.net/hphotos-ash2/t1/260223_10150645882855538_2603656_n.jpg" alt="Blass Family" width="534" height="400">


<h4>Click <%= link_to "here", "http://espn.com", class: "btn btn-primary" %> to join my exclusive mailing list! </h4>
>>>>>>> edcfb36b205d0900e862ee96423e85c4384b76ce
