<div class="jumbotron center">
<h1>Watermelon Bust!</h1>
<h4>LXA proudly supports <%= link_to "Feeding America", "http://feedingamerica.org/" %> </h4>
<p>Click <%= link_to "here", "http://espn.com" %> to donate!</p>