<div class="jumbotron center">
<img src="https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/22793_10155502037250538_5715618621099956502_n.jpg?oh=8d2e53e12f6c3685771039e83640a06f&oe=565522E2" height="device-height">
<h1>Hello There!</h1>
<h4>Welcome to Zach's Online Portfolio/Resume</h4>
<p>Click <%= link_to "here", "https://www.linkedin.com/pub/zach-blass/52/438/796" %> to visit Zach's LinkedIn page!</p>

